/*Color scheme in Huemint.com https://huemint.com/website-monochrome/#palette=1c1b1a-d5d3d2*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;400;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --main-bg-color: #1c1b1a;
  --text-color: #d5d3d2;
  --font-family: "Roboto Condensed", sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

.parallax__container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.fourth {
  transform: translateZ(-10px) scale(2.02);
}

.third {
  transform: translateZ(-8px) scale(1.82);
}

.title {
  transform: translateZ(-6px) scale(1.6);
}

.second {
  transform: translateZ(-2px) scale(1.2);
}

.first {
  transform: translateZ(0) scale(1);
}

.fourth,
.third,
.second,
.first {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.title {
  position: absolute;
  bottom: 150px;
  font-size: 10rem;
  color: var(--text-color);
  transition: 0.5s ease-in-out;
}

.categories {
  min-height: 125vh;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.category__gallery {
  display: flex;
  gap: 25px;
}


.category__card {
  width: 225px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}

.category__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transition: 0.5s;
}

.category__card .layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  opacity: 0;
  transition: 0.3s;
}

.category__card .info {
  position: absolute;
  bottom: -50%;
  padding: 15px;
  opacity: 0;
  transition: 0.5s bottom, 1.75s opacity;
}

.info h2 {
  margin: 0;
}

.info p {
  font-size: 14px;
  margin-top: 3px;
}

.category__card:hover,
.category__card:hover img{
  transform: scale(1.03);
}

.category__card:hover > .layer {
  opacity: 1;
}

.category__card:hover > .info {
  bottom: 0;
  opacity: 1;
}

.category__gallery:hover > .category__card:not(:hover) {
  filter: blur(5px);
}

@media (max-width: 1400px) {
  .title {
    font-size: 9rem;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 7rem;
    bottom: 170px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 6rem;
    bottom: 190px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 5rem;
    text-align: center;
    line-height: 70px;
    bottom: 200px;
  }

  .fourth,
  .third,
  .second,
  .first {
    object-position: left;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 4rem;
    line-height: 60px;
  }
}

@media (max-width: 320px) {
  /* … */
}
